@import "../../variables.scss";

.rack-module {
    box-sizing: border-box;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.5);

    &:hover {
        cursor: pointer;
        box-shadow: 10px rgba(0,0,0,0.5);
    }

    & img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        max-height: 100%;
    }
}