@import "../../variables.scss";

.header {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 36px;

  &__logo {
    text-align: center;
    & img {
      width: 25%;
    }
  }

  &__nav {
    
  }
}