@import "../../variables.scss";

.legend_container {
    
    &__item {
        display: flex;
        justify-content: flex-start;
        padding: 5px;
        background-color: $raisin-black;
        color: white;
        &:nth-child(odd) {
            background-color: $gunmetal-2;
        }
        &__number {
            
        }
        &__label {
            margin-left: 5px;
            display: flex;
        }

        &__description {
            padding-left: 10px;
        }

    }
}