@import "./variables.scss";


.legend-asset {
  color: $font-color-asset;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.definition {
  &__label {
    color: $gold-metallic;
    // color: $cornflower-blue;
    // font-weight: bold;
  }
}

.accent {
  &--blue {
    color: $cornflower-blue;
  }
  &--gold {
    color: $gold-metallic;
  }
  &--silver {
    color: $silver;
  }
  &--white {
    color: $white;
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &__container {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto; /* Adds a vertical scrollbar if needed */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    // background: linear-gradient(135deg, rgb(27, 26, 26) 60%, rgb(76, 50, 11) 100%);
    // background: linear-gradient(135deg, rgb(76, 50, 11) 60%, rgb(27, 26, 26) 100%);
    // background: linear-gradient(135deg, rgb(64, 64, 64) 60%, rgb(255, 127, 17) 100%);
    // background: linear-gradient(45deg, rgba(37, 65, 54, 1) 37%, rgba(27, 26, 26, 1) 100%);
    background-color: #ff9d77; /* Fallback color for older browsers that do not support gradients */
    // background-color: $amber-sae-ece;
  }
}
