// color palette
$cornflower-blue: #528afeff;
$lavender-floral: #c578ddff;
$blue-green: #519abaff;
$silver: #abacadff;
$gold-metallic: #cca702ff;
$emerald: #72c890ff;
$eerie-black: #181a1fff;
$raisin-black: #21252bff;
$gunmetal: #282c34ff;
$gunmetal-2: #333842ff;

$canary-yellow: #fff100ff;
$amber-sae-ece: #ff7f11ff;
$white: #d5d5d5;
$onyx: #404040;
$quick-silver: #a5a6a5ff;

$background-color: $raisin-black;
$note-bg-color: $gunmetal;
$note-font-color: $silver;

$font-color-body: $white;
$font-color-heading: $gold-metallic;
$font-color-asset: $cornflower-blue;

$grey-1: #0B0C10;
$grey-2: #383838;
$grey-3: #398480;
$grey-4: #C5C6C7;
$grey-5: #66FCF1;


$corner-radius: 10px;

$font-roboto-mono: 'Roboto Mono', monospace;
$font-bungee-shade: 'Bungee Shade', cursive;
$font-unica-one: 'Unica One', cursive;
$font-inconsolata: 'Inconsolata', monospace;